<ons-page> 
<ons-sliding-menu menu-page="html/menu.html"
    main-page="html/map.html" side="left" var="myOtherMenu"
    type="overlay" swipeable="false" max-slide-distance="260px"
    close-on-tap> </ons-sliding-menu>
   </ons-page>

