<ons-navigator ng-controller="SlidingMenuController">
   <ons-page >
        <div class="navigation-bar navigation-bar--transparent" style="position:relative;">
  <div class="navigation-bar__left">
    <span class="toolbar-button--quiet navigation-bar__line-height" ng-click="myMenu.open();">
      <i class="ion-navicon" style="font-size:32px;vertical-align:-6px;"></i>
    </span>
  </div>

  <div class="navigation-bar__center">
    <img class="small-logo_app" src="lib/onsen/images/new/logo-edits.png"/>
  </div>

  <div class="navigation-bar__right">

  </div>
</div> 
<body>
  
<div class="photos" style="padding-top: 30px;"> 
<div class="photo">
			<img src="lib/onsen/images/new/spa3.jpg" title="My Caption" />
			<div class="title">Massage</div>
		</div>
		
		<div class="photo">
			<img src="lib/onsen/images/new/conf2.jpg">
			<div class="title">Conference</div>
		</div>
		
		<div class="photo">
			<img src="lib/onsen/images/new/kabira-club-gym.jpg">
			<div class="title">Gym</div>
		</div>
		<div class="photo">
			<img src="lib/onsen/images/new/swimming-pool-view-at-night.jpg">
			<div class="title">Swimming pool</div>
		</div>
		<div class="photo">
			<img src="lib/onsen/images/new/kabira-country-club-facility-aerial.jpg">
			<div class="title">Aerial View</div>
		</div>
	</div>

<!-- <div id="nanoGallery3">
      <a data-ngthumb="lib/onsen/images/new/kabira-country-club-facility-aerial.jpg" href="lib/onsen/images/new/kabira-country-club-facility-aerial.jpg" data-ngdesc="Description1">Title Image1</a>
      <a data-ngthumb="lib/onsen/images/new/swimming-pool-view-at-night.jpg" href="lib/onsen/images/new/swimming-pool-view-at-night.jpg" data-ngdesc="Image 2 description">Title Image2</a>
      <a data-ngthumb="lib/onsen/images/new/kabira-club-gym.jpg" href="lib/onsen/images/new/kabira-club-gym.jpg" data-ngdesc="Image 2 description">Title Image2</a>
      <a data-ngthumb="lib/onsen/images/new/conf2.jpg" href="lib/onsen/images/new/conf2.jpg" data-ngdesc="Image 2 description">Title Image2</a>
      <a data-ngthumb="lib/onsen/images/new/Terrace.jpg" href="lib/onsen/images/new/Terrace.jpg" data-ngdesc="Image 2 description">Title Image2</a>
      
  </div>
 -->
</body>
               
    </ons-page>
</ons-navigator>
