
<ons-page ng-controller="reservation">
<div class="navigation-bar navigation-bar--transparent" style="position:relative;">
  <div class="navigation-bar__left">
    <span class="toolbar-button--quiet navigation-bar__line-height" ng-click="myMenu.open();">
      <i class="ion-navicon" style="font-size:32px;vertical-align:-6px;"></i>
    </span>
  </div>

  <div class="navigation-bar__center">
    <img class="small-logo_app" src="lib/onsen/images/new/logo-edits.png"/>
  </div>

  <div class="navigation-bar__right">

  </div>
</div> 

<div style="height: 230px;
    width: 300;
    top: -46px;
    position: relative;"><img src="lib/onsen/images/new/room-slider.jpg" title="My Caption" /></div>
<div class="title-reserve">Hotel Reservations</div>
	<ons-list class="agent-form">
            <ons-list-item class="timeline-li">
          <span>Select type of room</span>
              <select>
  <option value="delux">Deluxe Studio Room</option>
  <option value="1bed">One Bedroom Suite</option>
  <option value="2bed">Two Bedroom Suite</option>
  <option value="3bed">Three Bedroom Duplex Penthouse</option>
  <option value="2cottage">Two Bedroom Cottages</option>
  <option value="3cottage">Three Bedroom Cottages</option>
  
</select> 

          </ons-list-item>
            <ons-list-item>
                <ons-row>

<ons-col>
<label for="checkin">Check-In</label>
  <ons-list class="" modifier="inset" style="margin-bottom: 10px; height: 60px;">
          
          <ons-list-item class="timeline-li">
          
              <input type="text" id="checkin" class="datepicker text-input--transparent" style="width: 100%; height: 100%;" />
               <ons-icon icon="calendar" size="28px" class="calendar-icon"></ons-icon>
              <span class="checkin-month month"><small>2016</small></span>
              <span class="checkin-date-year date-year">30 JAN</span>  
          </ons-list-item>
              
        </ons-list>

        </ons-col>

        <ons-col>
        <label for="checkout">Check-Out</label>
        <ons-list class="" modifier="inset" style="margin-bottom: 10px; height: 60px;">
          
          <ons-list-item class="timeline-li">
          
              <input type="text" id="checkout" class="datepicker text-input--transparent" style="width: 100%; height: 100%;" />
              <ons-icon size="28px" icon="calendar" class="calendar-icon"></ons-icon>
              <span class="checkout-month month"><small>2016</small></span>
              <span class="checkout-date-year date-year">31 JAN</span>
          </ons-list-item>
              
        </ons-list>

        </ons-col>

	</ons-row>
            </ons-list-item>

            <ons-row>
<ons-col>
  <ons-list class="timeline" modifier="inset">
          
          <ons-list-item class="timeline-li">
          <span>Rooms</span>
              <select>
  <option value="volvo">1</option>
  <option value="saab">2</option>
  <option value="mercedes">3</option>
  
</select> 

          </ons-list-item>
              
        </ons-list>

        </ons-col>

        <ons-col>
        <ons-list class="timeline" modifier="inset">
          
          <ons-list-item class="timeline-li">
               <span>Guests</span>
              <select>
  <option value="volvo">1</option>
  <option value="saab">2</option>
  <option value="mercedes">3</option>
  <option value="mercedes">4</option>
  <option value="mercedes">5</option>
  <option value="mercedes">6</option>
</select>

          </ons-list-item>
              
        </ons-list>

        </ons-col>

	</ons-row>
 
                        <ons-list-item style="padding:10px;">
                <button class="button button--large">Find</button>
            </ons-list-item>
        </ons-list>

	 </ons-page>