.page--menu-page__background {
	background-color: #333;
}

.page--menu-page__content {
	color: white;
}

.menu-item {
	background-color: #474747;
	color: #fff;
}

.menu-item {
	border-top: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
	padding: 0 0 0 20px;
	line-height: 52px;
	height: 52px;
	text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.thumbnail {
	width: 80px;
	height: 80px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.ons-back-button__icon {
	vertical-align: top;
	font-size: 36px;
	margin-left: 8px;
	margin-right: 2px;
	width: 16px;
	display: inline-block;
	padding-top: 1px;
}

/*Details css ends here */
.wordwrap {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

i {
  font-size: 35px;
  color: orange;
}

.bottom-toolbar {
 height: 60px;
padding: 10px;
}

.page__bottom-bar-fill {
 bottom: 95px;
}