<ons-page id="bedrooms.html" ng-controller="propertySearch"> <ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-toolbar-button ng-click="set('bedrooms')"> 
		<ons-icon icon="ion-android-done" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
		
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span>Bedrooms</span>
	</div>
	<div class="right share">
		
	</div>
	</ons-toolbar>

<span class="min"><div id='bedrooms'></div></span>

<ons-bottom-toolbar class="bottom-toolbar done">
<div class="app-page">
<ons-button ng-click="set('bedrooms')" class="doneButton">Done</ons-button>
  </div>
</ons-bottom-toolbar>

	 </ons-page>