<ons-page id="checkmeDetails.html" ng-controller="checkmeOut">
<ons-toolbar>
	<div class="left">
	<ons-back-button>
	</ons-back-button>
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span class="detailTitle">About {{items.name}}</span>
	</div>
	<div class="right share">
		<ons-toolbar-button> <ons-icon icon="ion-android-share-alt" size="21px"></ons-icon></ons-toolbar-button>
	</div>
	</ons-toolbar> 
	<ons-carousel style="height: 315px; width: 300" swipeable auto-scroll ng-click="loadGallery();"> 
	<ons-carousel-item>
	<img ng-src="lib/onsen/images/{{items.image}}" title="My Caption" />
	</ons-carousel-item> 
	<ons-carousel-item> 
	<img ng-src="lib/onsen/images/{{items.image}}" title="My Caption" />
	</ons-carousel-item> 
	<ons-carousel-item> 
	<img
		ng-src="lib/onsen/images/{{items.image}}" title="My Caption" />
	</ons-carousel-item>

</ons-carousel> 
	<!-- <ons-list>
	<ons-list-item> <small
		class="propertyTag">Braids, Washing, Kinky, Pieces</small>
	<div>
		<span class="propertyPrice">Sophies Delights</span>
	</div> -->

	<!-- <ons-row class="action iconrow_details">
	<div class="bedroom-action-icon"
		style="margin-left: 8px;">
		<img src="lib/onsen/css/images/sleeping-black.png" />
	</div>
	<div class="bedroom-action-label" style="margin-left: 2px;">
		<b>2</b>
	</div>
	
	<div class="bathroom-action-icon"
		style="margin-left: 8px;">
		<img src="lib/onsen/css/images/bath2-blac.png" />
	</div>
	<div class="bathroom-action-label" style="margin-left: 2px;">
		<b>3</b>
	</div>
	<div class="details-parking-action-icon" style="margin-left: 8px;">
	<img src="lib/onsen/css/images/car-black.png" />
	</div>
	<div class="parking-action-label" style="margin-left: 2px;">
		<b>2</b>
	</div>
	</ons-row> --> <!-- </ons-list-item>

</ons-list>  -->

	<ons-list class="agent-email-form">
            <ons-list-item>
                <input type="text" placeholder="Leave a comment" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;"/>
            </ons-list-item>

<ons-list-item>
                <div><b>Your Details</b></div>
            </ons-list-item>
            <ons-list-item>
                <input type="text" placeholder="Name" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
            </ons-list-item>
            <ons-list-item>
                <input type="text" placeholder="Email" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
            </ons-list-item>
            <ons-list-item>
                <input type="phone" placeholder="Phone" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
            </ons-list-item>
            <ons-list-item style="padding:10px;">
                <button class="button button--large">Comment</button>
            </ons-list-item>
            <!-- <img class="footer-image" src="lib/onsen/images/footer.png"/> -->
        </ons-list>
	
	 </ons-page>