<ons-page id="detailTemplate.html" ng-controller="detail"> <ons-toolbar>
	<div class="left">
		<ons-back-button style="color: #D9671E !important;"> </ons-back-button>

	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span class="detailTitle">Details</span>
	</div>
	<div class="right share">
		<ons-toolbar-button> <ons-icon icon="ion-android-share-alt" size="21px"></ons-icon></ons-toolbar-button>
	</div>
	</ons-toolbar> 
	<ons-carousel style="height: 315px; width: 300" swipeable auto-scroll ng-click="loadGallery();"> 
	<ons-carousel-item>
	<img src="lib/onsen/images/bugolobi.jpeg" title="My Caption" />
	</ons-carousel-item> 
	<ons-carousel-item> 
	<img src="lib/onsen/images/bugolobi2.jpeg" title="My Caption" />
	</ons-carousel-item> 
	<ons-carousel-item> 
	<img
		src="lib/onsen/images/bugolobi3.jpeg" title="My Caption" />
	</ons-carousel-item>
<ons-carousel-item> 
	<img
		src="lib/onsen/images/bugolobi4.jpeg" title="My Caption" />
	</ons-carousel-item> 


<ons-carousel-item> 
	<img
		src="lib/onsen/images/makindye.jpeg" title="My Caption" />
	</ons-carousel-item>
<ons-carousel-item> 
	<img
		src="lib/onsen/images/makindye2.jpeg" title="My Caption" />
	</ons-carousel-item>
<ons-carousel-item> 
	<img
		src="lib/onsen/images/makindye3.jpeg" title="My Caption" />
	</ons-carousel-item>
<ons-carousel-item> 
	<img
		src="lib/onsen/images/naguru4.jpeg" title="My Caption" />
	</ons-carousel-item>
<ons-carousel-item> 
	<img
		src="lib/onsen/images/naguru2.jpeg" title="My Caption" />
	</ons-carousel-item>
<ons-carousel-item> 
	<img
		src="lib/onsen/images/naguru3.jpeg" title="My Caption" />
	</ons-carousel-item>
</ons-carousel> 
	<ons-list
		style="border-top: none; height: 200px;
overflow: hidden !important;">
	<ons-list-item style="line-height: 1; padding: 0;"> <small
		class="propertyTag">Waldorf Apartments Nakasero - Kampala</small>
	<div>
		<span class="propertyPrice">500 Million</span>
	</div>
	<div class="propertyAddress">
		<span>Kampala Road along Crane Bank Avenue, P.O Box 6515</span>
	</div>
	<div class="readMore">
		<small ng-click="readmore();">Read more</small>
	</div>
	<div>
		<span class="propertyAvailable"><b>Available:</b><small style="font-size: 12px;">&nbsp&nbsp02 Nov 2015</small></span>
	</div>
	<div>
		<span class="propertyType">House</span>
	</div>

	<ons-row class="action iconrow_details">
	<div class="bedroom-action-icon"
		style="margin-left: 8px;">
		<img src="lib/onsen/css/images/sleeping-black.png" />
	</div>
	<div class="bedroom-action-label" style="margin-left: 2px;">
		<b>2</b>
	</div>
	
	<div class="bathroom-action-icon"
		style="margin-left: 8px;">
		<img src="lib/onsen/css/images/bath2-blac.png" />
	</div>
	<div class="bathroom-action-label" style="margin-left: 2px;">
		<b>3</b>
	</div>
	<div class="details-parking-action-icon" style="margin-left: 8px;">
	<img src="lib/onsen/css/images/car-black.png" />
	</div>
	<div class="parking-action-label" style="margin-left: 2px;">
		<b>2</b>
	</div>
	</ons-row> </ons-list-item>

</ons-list> 
	<ons-list class="settings-list">
        <ons-list-item>
         <div>
		<span class="callMe" ><ons-icon style="color: #5f972a !important;" icon="ion-android-call" size="28px"></ons-icon><span class="myNumber">&nbsp&nbsp&nbsp&nbsp0772001098</span> </span>
		<span style="float:right;" class="textMe"><ons-icon icon="ion-android-textsms" size="28px"></ons-icon></span>
	</div>
        </ons-list-item>

      </ons-list>
	<ons-list class="agent-email-form">
            <ons-list-item>
                <input type="text" placeholder="Ask a question" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;"/>
            </ons-list-item>

<ons-list-item>
                <div><b>Your Details</b></div>
            </ons-list-item>
            <ons-list-item>
                <input type="text" placeholder="Name" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
            </ons-list-item>
            <ons-list-item>
                <input type="text" placeholder="Email" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
            </ons-list-item>
            <ons-list-item>
                <input type="phone" placeholder="Phone" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
            </ons-list-item>
            <ons-list-item style="padding:10px;">
                <button class="button button--large">Email Agent</button>
            </ons-list-item>
            <img class="footer-image" src="lib/onsen/images/footer.png"/>
        </ons-list>
	
	 </ons-page>