<ons-page id="feedback.html"> <ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-toolbar-button ng-click="myMenu.toggle()"> <ons-icon
			icon="ion-navicon" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
		
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span class="feedbackTitle">Feedback</span>
	</div>
	<div class="right share">
	</div>
	</ons-toolbar>   
	
	</ons-page>