<ons-page id="imageSlides.html">
<img class="logo_app" src="lib/onsen/images/new/logo-edits.png"/>
	
	<ons-carousel class="carousel-main" auto-scroll swipeable fullscreen var="carousel"> 
	<ons-carousel-item>	
	<img src="lib/onsen/images/new/hotel-reception.jpg"/>

	<div class="main_label">Check In and Out with Ease</div>
	<div class="item-label">
		<div class="pTag">Use this app to</div>	
		<a class="skipTag" href=""><small >Skip</small></a>
	</div>

	</ons-carousel-item> 
	
	<ons-carousel-item> 
	<img src="lib/onsen/images/new/luxury-champagne-gift-basket.jpg"/>
	
	<div class="main_label">Enhance your stay with Customised Services</div>
	<div class="item-label item-label-alt">
		<div class="pTag">Use this app to</div>
		<a class="skipTag" href=""><small >Skip</small></a>
	</div>

	</ons-carousel-item> 


	<ons-carousel-item> 
	<img src="lib/onsen/images/new/steak-au-poive.jpg"/>
	
	<div class="main_label">Order In Room Dinning and make Restaurant Reservations</div>
	<div class="item-label item-label-alt">
		<div class="pTag">Use this app to</div>
		<a class="skipTag" href=""><small >Skip</small></a>
	</div>

	</ons-carousel-item>

	<ons-carousel-item> 
	<img src="lib/onsen/images/new/elephant.jpg" />
	
	<div class="main_label main_label_alt">Explore like a local with Insider Tips</div>
	<div class="item-label item-label-alt">
		<div class="pTag">Use this app to</div>
		<ons-button class="skipTag-alt" modifier="light" ng-click="myMenu.setMainPage('html/propertyList.html', {})">
				Next
			</ons-button>
		
	</div>

	</ons-carousel-item> 

	</ons-carousel> 
	</ons-page>