<ons-page id="location.html" ng-controller="propertySearch"> <ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-toolbar-button ng-click="set('location')"> 
		<ons-icon icon="ion-android-done" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
		
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span class="searchTitle">Location</span>
	</div>

	</ons-toolbar>
<ons-row class="profile-wrapper">
        <ons-col>
          <input ng-model="query" type="search" placeholder="Enter Location" class="search-input" style="margin-top:8px; width: 100%;">
        </ons-col>

      </ons-row>

      <ons-list class="settings-list">
        <ons-list-item>
        <ons-icon icon="ion-android-locate" size="16px" style="color: black !important;"></ons-icon>
         Use current location
          <ons-switch modifier="list-item" var="mySwitch" ng-click="change($event);"></ons-switch>
        </ons-list-item>

      </ons-list>

      <div class="settings-header">All Locations</div>
      <ons-list class="settings-list">
        <ons-list-item modifier="chevron" ng-repeat="city in cities | filter:query | orderBy: orderList">
          {{city.name}}
        </ons-list-item>

<ons-bottom-toolbar class="bottom-toolbar done">
<div class="app-page">
<ons-button ng-click="set('location')" class="doneButton">Done</ons-button>
  </div>
</ons-bottom-toolbar>

	 </ons-page>
	 
	 
	 <!-- <div class="right"><input type="search" class="search-input" placeholder="Keyword"></input></div>
<input type="search" class="search-input" ng-model="searchText" placeholder="Search"></input> -->