<ons-page id="menu.html" modifier="menu-page">
<div class="menuImage"></div>
	<ons-list class="menu-list"> 
<!-- 	<ons-list-item class="menu-image">
	
	</ons-list-item> -->
	<ons-list-item
		class="menu-item"
		ng-click="myMenu.setMainPage('html/propertyList.html', {closeMenu: true})">
	&nbsp&nbsp&nbsp Home </ons-list-item>
	<ons-list-item
		class="menu-item"
		ng-click="myMenu.setMainPage('html/savedProperty.html', {closeMenu: true})">
	&nbsp&nbsp&nbsp Reservations </ons-list-item> 
	<ons-list-item
		class="menu-item" ng-click="myMenu.setMainPage('html/savedSearch.html', {closeMenu: true});"> &nbsp&nbsp&nbsp Hotel Information </ons-list-item>
		
	<ons-list-item 
		class="menu-item" ng-click="myMenu.setMainPage('html/settings.html', {closeMenu: true});">&nbsp&nbsp&nbsp Offers</ons-list-item> 

		<ons-list-item 
		class="menu-item" ng-click="myMenu.setMainPage('html/settings.html', {closeMenu: true});">&nbsp&nbsp&nbsp Meetings and Weddings</ons-list-item>
		
		<ons-list-item 
		class="menu-item" ng-click="myMenu.setMainPage('html/settings.html', {closeMenu: true});">&nbsp&nbsp&nbsp Spa</ons-list-item>

	<ons-list-item class="menu-item" ng-click=""> &nbsp&nbsp&nbsp Contact Us </ons-list-item> 

		</ons-list> 
		</ons-page> 