<ons-template id="price.html">
<ons-page> <ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-back-button> 
		</ons-back-button>
		
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span class="searchTitle"></span>
	</div>
	<div class="right share">
		
	</div>
	</ons-toolbar>

<span class="min">Min<div id='minprice'></div></span>
<span class="max">Max<div id='maxprice'></div></span>

<ons-bottom-toolbar class="bottom-toolbar done">
<div class="app-page">
<ons-button ng-click="set('price')" class="doneButton">Done</ons-button>
  </div>
</ons-bottom-toolbar>

	 </ons-page>
	 </ons-template>