<ons-page id="propertyList.html" ng-controller="saloon">
    
     <ons-navigator var="myNavigator"> <ons-toolbar>
  <div class="left" style="font-size: 16px;">
    <ons-toolbar-button ng-click="myMenu.toggle()"> <ons-icon
      icon="ion-navicon" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
    <span>Welcome</span> <small
      class="subtitles "
      style="">
</small>
  </div>
  <div class="right">

  <ons-toolbar-button ng-show="showListPage"> <ons-icon ng-click="toggle();" ng-hide="menuState.show"  icon="ion-ios-heart" size="21px" fixed-width="false" style="position: relative;
top: 0px;
left: 22px;
font-size: 21px;"></ons-icon> </ons-toolbar-button>


  <ons-toolbar-button ng-show="showListPage"> <ons-icon ng-click="toggle();" ng-show="menuState.show"  icon="ion-ios-heart-outline" size="21px" fixed-width="false"></ons-icon> </ons-toolbar-button>

    

  </div>
  <div class="center"></div>
  </ons-toolbar>

  
<ons-carousel style="height: 155px; width: 300" swipeable auto-scroll var="homeslider"> 
<ons-carousel-item>
  <img src="lib/onsen/images/new/kabira-country-club-facility-aerial.jpg" title="My Caption" />
  </ons-carousel-item> 
  <ons-carousel-item>
  <img src="lib/onsen/images/new/swimming-pool-view-at-night.jpg" title="My Caption" />
  </ons-carousel-item> 
  <ons-carousel-item> 
  <img src="lib/onsen/images/new/kabira-club-gym.jpg" title="My Caption" />
  </ons-carousel-item> 
  <ons-carousel-item> 
  <img
    src="lib/onsen/images/new/swimming-at-kabira.jpg" title="My Caption" />
  </ons-carousel-item>

</ons-carousel>
<ons-list class="timeline" modifier="inset">
          <ons-list-item class="timeline-li" modifier="tappable">
<ons-row>

              <ons-col>
                <div class="timeline-date"></div>
                <div class="timline-from">
                  <span class="timeline-name" style="text-align: center">Kabira Country Club</span>
                  <span class="timeline-id"></span>
                </div>

                <div class="timeline-message">
                  63, Old Kira Road 
Bukoto, Kampala, Uganda
P. O. Box 3673
Kampala, Uganda, East Africa
Tel: +256(0)312 227222/3/4/5 &nbsp&nbsp  <i
    class="fa fa-map-marker fa-lg"></i>
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>


<ons-row>
<ons-col>
  <ons-list class="timeline" modifier="inset">
          
          <ons-list-item class="timeline-li" modifier="chevron" ng-click="myNavigator.pushPage('price.html');">
              Reservations

          </ons-list-item>
              
        </ons-list>
        </ons-col>

        <ons-col>
  <ons-list class="timeline" modifier="inset" ng-click="myNavigator.pushPage('offers.html');">

          <ons-list-item class="timeline-li" modifier="chevron">
              Offers
          </ons-list-item>
              
          
        </ons-list>
        </ons-col>
  </ons-row>

<ons-row>
<ons-col>
  <ons-list class="timeline" modifier="inset">
          
          <ons-list-item class="timeline-li" modifier="chevron">
              Overview

          </ons-list-item>
              
        </ons-list>
        </ons-col>

        <ons-col>
  <ons-list class="timeline" modifier="inset">

          <ons-list-item class="timeline-li" modifier="chevron">
              Rooms
          </ons-list-item>
              
          
        </ons-list>
        </ons-col>
  </ons-row>

  <ons-row>
<ons-col>
  <ons-list class="timeline" modifier="inset">
          
          <ons-list-item class="timeline-li" modifier="chevron">
              Dining

          </ons-list-item>
              
        </ons-list>
        </ons-col>

        <ons-col>
  <ons-list class="timeline" modifier="inset">

          <ons-list-item class="timeline-li" modifier="chevron" ng-click="myNavigator.pushPage('spa.html');">
              Spa
          </ons-list-item>
              
          
        </ons-list>
        </ons-col>
  </ons-row>

  <ons-row>
<ons-col>
  <ons-list class="timeline" modifier="inset">
          
          <ons-list-item class="timeline-li" modifier="chevron">
              Meetings

          </ons-list-item>
              
        </ons-list>
        </ons-col>

        <ons-col>
  <ons-list class="timeline" modifier="inset">

          <ons-list-item class="timeline-li" modifier="chevron">
              Activities
          </ons-list-item>
              
          
        </ons-list>
        </ons-col>
  </ons-row>

  <ons-row>
<ons-col>
  <ons-list class="timeline" modifier="inset">
          
          <ons-list-item class="timeline-li" modifier="tappable"><img
    src="lib/onsen/images/new/Map.jpg" title="My Caption" />
              Map

          </ons-list-item>
              
        </ons-list>
        </ons-col>

        <ons-col>
  <ons-list class="timeline" modifier="inset">

          <ons-list-item class="timeline-li" modifier="tappable"><img
    src="lib/onsen/images/new/bell2.jpg" title="My Caption" />
              Gallery
          </ons-list-item>
              
          
        </ons-list>
        </ons-col>
  </ons-row>

  <ons-row >
  <div style="text-align: center; left: 25%; position: relative;"><i
    class="fa fa-facebook fa-lg"></i>&nbsp&nbsp&nbsp <i
    class="fa fa-twitter fa-lg"></i>&nbsp&nbsp&nbsp <i
    class="fa fa-youtube fa-lg"></i>&nbsp&nbsp&nbsp <i
    class="fa fa-google-plus fa-lg"></i>&nbsp&nbsp&nbsp <i
    class="fa fa-pinterest fa-lg"></i></div>
  
  </ons-row>

<ons-bottom-toolbar class="bottom-toolbar" style="text-align: center; padding-bottom: 23px; background-color: lightgray; height: 20px; font-size: 12px;">
&copy &nbsp&nbsp <b>Kabira Country Club Hotel</b> 
</ons-bottom-toolbar>
  </ons-navigator></ons-page>