<ons-page id="property_type" ng-controller="propertySearch"> <ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-toolbar-button ng-click="set('propertyType')"> 
		<ons-icon icon="ion-android-done" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
		
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span>Hair styles</span>
	</div>
	
	</ons-toolbar>
	<div class="propertyTypeCheckboxes">
<label class="checkbox">
  <input type="checkbox" class="House" value="house">
  <div class="checkbox__checkmark"></div>
  Afro kinki
</label><br>

<label class="checkbox">
  <input type="checkbox" class="Land" value="land">
  <div class="checkbox__checkmark"></div>
  Pencil Braids
</label><br>

<label class="checkbox">
  <input type="checkbox" class="Office" value="office">
  <div class="checkbox__checkmark"></div>
  Pieces
</label><br>

<label class="checkbox">
  <input type="checkbox" class="Commercial" value="commercial">
  <div class="checkbox__checkmark"></div>
  Big braids
</label><br>

<label class="checkbox">
  <input type="checkbox" class="Farm" value="farm">
  <div class="checkbox__checkmark"></div>
  Wet look
</label>
	
	</div>

<ons-bottom-toolbar class="bottom-toolbar done">
<div class="app-page">
<ons-button ng-click="set('propertyType')" class="doneButton">Done</ons-button>
  </div>
</ons-bottom-toolbar>

	 </ons-page>