<ons-page id="readMore.html" ng-controller="propertySearch"> <ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-toolbar-button ng-click="myNavigator.popPage();"> 
		<ons-icon icon="ion-android-close" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
		
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span class="searchTitle">Property Details</span>
	</div>
	<div class="right share">
		
	</div>
	</ons-toolbar>

	 </ons-page>