<ons-page id="rent.html" ng-controller="propertySearch">
<div class="propertyParametersList"> 
<ons-list style="height: inherit;">
<ons-list-item ng-click="myNavigator.pushPage('html/location.html');">
          Location <span id="rentlocationsLabel" class="filterOption">Any</span>
        </ons-list-item>
        <ons-list-item ng-click="myNavigator.pushPage('html/price.html');">
          Price <span id="rentpriceLabel" class="filterOption">Any</span>
        </ons-list-item>
        <ons-list-item ng-click="myNavigator.pushPage('html/property_type.html');">
          Property Type <span id="rentpropertyTypeLabel" class="filterOption">Any</span>
        </ons-list-item>
        <ons-list-item ng-click="myNavigator.pushPage('html/bedrooms.html');">
          Bedrooms <span id="rentbedroomLabel" class="filterOption">Any</span>
        </ons-list-item>
        <ons-list-item ng-click="myNavigator.pushPage('html/bathrooms.html');">
          Bathrooms <span id="rentbathroomLabel" class="filterOption">Any</span>
        </ons-list-item>
        <ons-list-item ng-click="myNavigator.pushPage('html/carspaces.html');">
          Car spaces <span id="rentcarspacesLabel" class="filterOption">Any</span>
        </ons-list-item>
        <ons-list-item ng-click="myNavigator.pushPage('html/sort.html');">
          Sort <span id="rentsortLabel" class="filterOption">Any</span>
        </ons-list-item>
    </ons-list>


</div>
    
<ons-bottom-toolbar class="bottom-toolbar">
<div class="app-page">
   <ons-list class="app-photo-buttons">
<button class="button button--large" ng-click="search();">Search</button>
      </ons-list>
  </div>
</ons-bottom-toolbar>
</ons-page>

