<ons-page ng-controller="detail" >

<ons-toolbar>

            <div class="left">
<ons-toolbar-button ng-click="goTo('html/detail.html');">
      <ons-icon class="ion-ios-arrow-back"></ons-icon>
    </ons-toolbar-button>
			

            </div>
                <div class="center">More</div>
            </ons-toolbar>


        <ons-carousel style="height: 480px; width: 320" swipeable auto-scroll>
  <ons-carousel-item>
             <img src="lib/onsen/css/images/highlighted-bang.jpg" title="My Caption"/>
  </ons-carousel-item>
  <ons-carousel-item>
             <img src="lib/onsen/css/images/highlighted-bang.jpg" title="My Caption"/>
  </ons-carousel-item>
</ons-carousel>
    </ons-page>