<ons-page id="savedSearch.html"> <ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-toolbar-button ng-click="myMenu.toggle()"> <ons-icon
			icon="ion-navicon" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
		
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span class="savedSearchTitle">Saved Search</span>
	</div>
	<div class="right">
	</div>
	</ons-toolbar>   
	<ons-list class="timeline" modifier="inset">
          <ons-list-item class="timeline-li" modifier="tappable" ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
            <ons-row>

              <ons-col>
                <div class="timeline-date"></div>
                <div class="timline-from">
                  <span class="timeline-name">Kampala</span>
                  <span class="timeline-id">Wandegeya</span>
                </div>

                <div class="timeline-message">
                  Price.300,000-700,000.Bathrooms.2.Parking.4.Bedrooms.5 
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>
	
	</ons-page>