<ons-page id="savedProperty.html" ng-controller="savedProperty">
<ons-navigator var="favNavigator">
	<ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-toolbar-button ng-click="myMenu.toggle()"> <ons-icon
			icon="ion-navicon" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
		
	</div>
	<div class="right">
		<ons-toolbar-button ng-show="showSavedProperties" ng-click> <ons-icon icon="" size="28px" fixed-width="false"><i
		class="fa fa-sort"></i></ons-icon> </ons-toolbar-button>
	</div>
	<div class="center">Saved Properties</div>
	</ons-toolbar>
	<ons-list ng-show="showSavedProperties">
	<ons-list-item ons-lazy-repeat="MyFavouriteDelegate"
		class="mainList list-item-container" ng-click="setParams($index);">
	<div>
		<img class="listImage"
			style='height: 100%; width: 100%; object-fit: contain'
			ng-src="{{item.image}}"> </img>
			
	</div>
	<div class="info_container">
		
		
</div>
<div class="propertyTitle">
			<b>{{item.name}}</b>
		</div>
		<div class="wordwrap propertyDesc">{{item.procesor}}</div>
		<ons-row class="action iconrow">
	    <div class="bedroom-action-icon"
			style="margin-left: 8px; top: 3px; position: relative;">
			<img src="lib/onsen/css/images/sleeping-white.png" />
		</div>
		<div class="bedroom-action-label" style="margin-left: 2px;">
			<b>2</b>
		</div>

		<div class="bathroom-action-icon"
			style="margin-left: 8px; position: relative; top: 2px;">
			<img src="lib/onsen/css/images/bath2.png" />
		</div>
		<div class="bathroom-action-label" style="margin-left: 2px;">
			<b>3</b>
		</div>
				<div class="parking-action-icon" style="margin-left: 8px;">
				<img src="lib/onsen/css/images/car-white.png" />
			
		</div>
		<div class="parking-action-label" style="margin-left: 2px;">
			<b>2</b>
		</div>

		<div class="favourite-action-icon">
 			<favourite>
			<section class="fave {{item.class}}" ng-click="favourite($event, item.id, $index);"></section>
 			</favourite>
		</div>
		</ons-row>

	</ons-list-item> 
	</ons-list>
	
	<ons-row style="margin-top: 100px; text-align: center;" ng-show="showNoPropertiesFoundPage">
		<ons-col>
			<p style="color: #999; font-size: 13px;">We didnot find any Saved Properties</p>
			<hr class="emptyPageLine" style="width:20%">
			

		</ons-col>
	</ons-row>
	</ons-navigator>
	 </ons-page>