<ons-page id="savedSearch.html" ng-controller="checkmeOut"> 
<ons-navigator var="checkNavigator">
<ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-toolbar-button ng-click="myMenu.toggle()"> <ons-icon
			icon="ion-navicon" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
		
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span class="savedSearchTitle">Check Me Out</span>
	</div>
	<div class="right">
	</div>
	</ons-toolbar>   
	<ons-list>

        <ons-list-item ons-lazy-repeat="MyDelegate" ng-click="setParams($index);" modifier="chevron" class="list-item-container">
          <ons-row>
            <ons-col width="95px">
              <img ng-src="lib/onsen/images/{{item.image}}" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                {{ item.name}}
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i> {{item.procesor}}
              </div>
              <div class="desc">
                {{item.time}}.
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>
	 </ons-navigator>
	</ons-page>