
<ons-page id="search.html" ng-controller="propertySearch"> <ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-toolbar-button ng-click="myNavigator.popPage();"> <ons-icon
			icon="ion-android-close" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
		
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span class="searchTitle">Refinements</span>
	</div>
	<div class="right" style="color: #FF6882; padding: 10px;">
		<span ng-click="clear();">Clear</span>
	</div>
	</ons-toolbar>
<div class="propertyParametersList"> 
<ons-list style="height: inherit;">
<ons-list-item ng-click="myNavigator.pushPage('html/location.html');">
          Location <span id="rentlocationsLabel" class="filterOption">Any</span>
        </ons-list-item>
        <ons-list-item ng-click="myNavigator.pushPage('html/price.html');">
          Price <span id="rentpriceLabel" class="filterOption">Any</span>
        </ons-list-item>
        <ons-list-item ng-click="myNavigator.pushPage('html/property_types.html');">
          Hair Styles <span id="rentpropertyTypeLabel" class="filterOption">Any</span>
        </ons-list-item>
        
        <ons-list-item ng-click="myNavigator.pushPage('html/sort.html');">
          Sort <span id="rentsortLabel" class="filterOption">Any</span>
        </ons-list-item>
    </ons-list>
</div>
    
<ons-bottom-toolbar class="bottom-toolbar">
<div class="app-page">
   <ons-list class="app-photo-buttons">
<button class="button button--large" ng-click="search();">Search</button>
      </ons-list>
  </div>
</ons-bottom-toolbar>

<ons-modal var="modal">
      <ons-icon icon="ion-load-c" spin="true"></ons-icon>
      <br><br>
      Please wait.<br>Loading...
    </ons-modal>

	 </ons-page>