
<ons-page id="search.html" ng-controller="propertySearch"> <ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-toolbar-button ng-click="myNavigator.popPage();"> <ons-icon
			icon="ion-android-close" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
		
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span class="searchTitle">Refinements</span>
	</div>
	<div class="right" style="color: orange; padding: 10px;">
		<span ng-click="clear();">Clear</span>
	</div>
	</ons-toolbar>

<ons-tabbar position="top">

  <ons-tab persistent ng-click="toggleClass('sale');" class="saleTab activeTab" active="true" page="html/sale.html" label="Sale"></ons-tab>
  <ons-tab persistent ng-click="toggleClass('rent');" class="rentTab" page="html/rent.html"  label="Rent"></ons-tab>
</ons-tabbar>
<ons-modal var="modal">
      <ons-icon icon="ion-load-c" spin="true"></ons-icon>
      <br><br>
      Please wait.<br>Loading...
    </ons-modal>

	 </ons-page>