<ons-page id="property_type" ng-controller="propertySearch"> <ons-toolbar>
	<div class="left" style="font-size: 16px;">
		<ons-toolbar-button ng-click="set('sort')"> 
		<ons-icon icon="ion-android-done" size="28px" fixed-width="false"></ons-icon> </ons-toolbar-button>
		
	</div>
	<!-- ion-android-share-alt -->
	<div class="center">
		<span>Sort</span>
	</div>
	
	</ons-toolbar>
	<div class="propertyOrderCheckboxes" style="padding: 10px;">
<label class="radio-button">
  <input type="radio" name="r" class="sort" value="highestPrice">
  <div class="radio-button__checkmark"></div>
  Highest Price
  
</label><br>

<label class="radio-button">
  <input type="radio" name="r" class="sort" value="lowestPrice">
  <div class="radio-button__checkmark"></div>
  Lowest Price
</label><br>

<label class="radio-button">
  <input type="radio" name="r" class="sort" value="newestPrice"> 
  <div class="radio-button__checkmark"></div>
  Newest
</label><br>

<label class="radio-button">
  <input type="radio" name="r" class="sort" value="oldestPrice"> 
  <div class="radio-button__checkmark"></div>
Oldest
</label>

	</div>

<ons-bottom-toolbar class="bottom-toolbar done">
<div class="app-page">
<ons-button ng-click="set('sort')" class="doneButton">Done</ons-button>
  </div>
</ons-bottom-toolbar>

	 </ons-page>