.toolbar-button--quiet {
	color: orange !important;
}

.menuImage {
	position: relative;
	/* background-color: blue; */
	height: 130px;
	background-image: url(images/slideImage.jpg);
}

.mainList {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #ddd !important;
	box-shadow: 2px 2px 1px #E3E3E3 !important;
	margin: 0px 10px 0px 10px !important;
	padding: 0px 0px !important;
	color: white;
	background-color: white;
	/*    top: 260px !important;*/
}

/* .dpui-numberPicker-increase, .dpui-numberPicker-decrease {
background: linear-gradient(to bottom,#f0f0f0 0,#F7A30B 100%) !important;
} */

/* 0704 555432 ray */
.done{
	height: 60px !important;
}

.doneButton{
	float: right;
}

.login-form {
	text-align: center;
	width: 80%;
	margin: 60px auto 0;
}

.min, .max{
	position: relative;
top: 40px;
float: left;
padding: 20px;
}

#maxprice, #minprice{

margin: 10px;
}

input[type=email], input[type=password] {
	display: block;
	width: 100%;
	margin: 0 auto;
	outline: none;
	padding-top: 24px;
	padding-bottom: 24px;
}

.login-button {
	width: 100%;
	margin: 0 auto;
}

.forgot-password {
	display: block;
	margin: 8px auto 0 auto;
	font-size: 14px;
}

.page--menu-page__background {
	background-color: #333;
}

.page--menu-page__content {
	color: white;
}

.menu-close, .menu-close>.toolbar-button {
	color: #999;
}

.menu-list, .menu-item:first-child, .menu-item:last-child, .menu-item {
	background-color: transparent;
	background-image: none !important;
	border-color: transparent;
	color: #fff;
}

.menu-item {
	padding: 0 0 0 20px;
	line-height: 52px;
	height: 52px;
	text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
	display: inline-block;
	margin-top: 12px;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	min-width: 16px;
	font-weight: 600;
}

.bottom-menu-list, .bottom-menu-item:first-child, .bottom-menu-item:last-child,
	.bottom-menu-item {
	border-color: #393939;
	background-color: transparent;
	background-image: none !important;
	color: #ccc;
}

.bottom-menu-item:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.reply-notification {
	position: absolute;
	right: 18px;
	top: 28px;
	font-size: 10px;
	font-weight: 600;
	height: 13px;
	line-height: 13px;
	padding: 0 4px;
	min-width: 13px;
}

.tab-icon {
	font-size: 28px;
	vertical-align: -4px;
}

.thumbnail {
	width: 80px;
	height: 80px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.name {
	font-weight: 500;
	line-height: 16px;
	font-size: 15px;
}

.location {
	font-size: 14px;
	opacity: 0.4;
}

.desc {
	line-height: 1.2;
	font-size: 13px;
}

/* Saloon Search  Input*/
.saloon-search-input {
	margin-top: 6px;
	padding-top: 2px;
}

.ons-back-button__icon {
	vertical-align: top;
	font-size: 36px;
	margin-left: 8px;
	margin-right: 2px;
	width: 16px;
	display: inline-block;
	padding-top: 1px;
}

/* Details css */

/* Styles for details page */
.page--shop-details__content {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px !important;
	bottom: 0px;
}

.card {
	/*background-color: white;
  background-image: url(images/highlighted-bang.jpg);
  background-repeat: no-repeat;*/
	background-size: cover;
	color: white;
	height: 100px;
	width: auto;
	max-height: 100px;
}

/*.listImage {
width: 100%;
height: auto !important;
}*/

/*.listImage {
width: 500px !important;
height: 300px !important;
}

.listImage  img{
max-width:100%; 
max-height:100%;
margin:auto;
display:block;
}*/
.card-toolbar ons-back-button span {
	color: white;
}

.card-name {
	font-weight: 600;
	font-size: 20px;
	padding: 66px 0 8px 0;
	text-align: center;
}

.card-desc {
	font-size: 14px;
	font-weight: 400;
	opacity: 0.9;
	text-align: center;
	line-height: 1.4;
}

.rating {
	text-align: center;
	position: relative;
	height: 0px;
}

.rating-num {
	position: relative;
	top: -24px;
	height: 24px;
	color: white;
	line-height: 24px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	border-radius: 4px 4px 0 0;
	padding: 0 6px;
	background-color: #eb482f;
	color: white;
	width: auto;
	margin: 0 auto 0 auto;
	display: inline-block;
}

.rating-num ons-icon {
	font-size: 11px;
	vertical-align: -0px;
}

.action-col {
	text-align: center;
	opacity: 0.4;
	padding: 10px 0 8px;
}

.action-col:active {
	opacity: 0.7;
}

.action-col ons-button {
	padding: 0;
	line-height: 1;
}

.action-icon {
	padding: 0 0 4px 0;
}

.action-icon ons-icon {
	font-size: 28px;
}

.action-label {
	font-size: 12px;
}

.prop-desc {
	font-size: 14px;
	opacity: 0.7;
}

.prop-desc ons-icon {
	font-size: 14px;
	vertical-align: -0px;
	opacity: 0.5;
}

img.card {
	/*position: absolute;*/
	/*display: inline;
  left: 50%;
  text-align: center;
  margin-left: -(half ot the image width)px*/
	
}

/* End styles for details page */
/*
Styles for card view listitems
.list__item{
    border-style:solid !important;
    border-width:1px !important;
    border-color:#ddd !important;
    box-shadow:2px 2px 1px #eee !important;
    margin:10px !important;
}*/

/*Details css ends here */
.wordwrap {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.ons-icon {
  font-size: 35px;
  color: orange;
}

.bottom-toolbar {
 height: 60px;
padding: 10px;
}
.page__bottom-bar-fill {
 bottom: 95px;
}

@media(min-width:240px)
{ /* low resolution phones */
.propertyParametersList{
  height: 160px !important;	
}
	favourite {
		position: relative;
		top: -5px;
	} 
.mainList {
	height: 133px;
}

.fave {
	width: 37px;
	height: 35px;
	right: -85px;
	position: relative;
	/* background: transparent url("../images/twitter_fave.png") no-repeat */
	background: transparent url("../images/twit2.png") no-repeat scroll -14px
		-6px;
}

.faved {
	background-position: -3534px -6px;
	transition: background 0.5s steps(55);
}

.propertyTitle {
	padding: 0px 10px;
	top: -122px;
	position: relative;
	font-size: 11px;
}

 .detailTitle {
/* 	position: relative;
	right: 20px; */
} 

.propertyDesc {
	font-size: 9px;
	position: relative;
	padding: 0px 0px 10px 10px !important;
	width: 80%;
	line-height: 15px;
	top: -138px;
}

.iconrow {
	position: relative;
	/*padding-left: 10px !important;*/
	bottom: 162px !important;
	font-size: 10px !important;
}

.info_container {
	position: relative;
	top: -62px;
	opacity: 0.4;
	color: #FFF;
	background-color: #000;
	height: 45px;
}

/* Details page styles
 *
 */
.propertyTag {
	font-size: 10px;
	padding: 10px;
	color: #AAA;
	top: 5px;
	position: relative;
}

.propertyPrice {
	font-weight: bold;
	padding: 10px;
	top: 13px;
	position: relative;
}

.propertyAvailable {
	padding: 10px;
	top: 30px !important;
	position: relative;
}

.propertyType {
	top: 35px !important;
	position: relative;
	padding: 10px;
	font-size: 10px;
}

.iconrow_details {
	font-size: 10px;
	position: relative;
	top: 15px !important;
	left: 145px !important;
}

.parking-action-icon {
	top: 4px !important;
	position: inherit;
}

/* End Details page styles
 *
 */
}

@media ( min-width :320px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.propertyParametersList{
  height: 320px !important;	
}

	.fave {
		width: 35px;
		height: 35px;
		right: -160px;
	}
	.faved {
		background-position: -3535px -6px;
	}
	
	.mainList {
		height: 181px;
	}
	.propertyTitle {
		position: relative;
		padding: 0px 10px;
		top: -150px;
		/*bottom: 185px !important;*/
	}
	 .detailTitle {
/* 		position: relative;
		right: 20px; */
	} 
	.propertyDesc {
		font-size: 10px;
		position: relative;
		padding: 0px 0px 10px 10px !important;
		width: 80%;
		line-height: 15px;
		top: -165px;
	}
	.iconrow {
		position: relative;
		padding-left: 10px !important;
		bottom: 183px !important;
		font-size: 10px !important;
	}
	.info_container {
		position: relative;
		top: -77px;
		opacity: 0.4;
		color: #FFF;
		background-color: #000;
		height: 60px;
	}
	
	/**Search Page Styles**/
	
	.landsize{
		left: 159px;
position: relative;
	}
	
	.iconrow_details {
	font-size: 10px;
	position: relative;
	top: 15px !important;
	left: 260px !important;
}
}

@media ( min-width :480px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.fave {
		width: 37px;
		height: 35px;
		right: -299px !important;
		top: 30px!;
	}
	.propertyTitle {
		position: relative;
		top: -199px;
		color: white;
	}
	.propertyDesc {
		position: relative;
		line-height: 15px;
		top: -210px !important;
		color: white;
	}
	.iconrow {
		position: relative;
		top: -216px !important;
		color: white;
	}
	.info_container {
		position: relative;
		top: -102px;
		opacity: 0.4;
		color: #FFF;
		background-color: #000;
		height: 85px;
	}
	.mainList {
		height: 277px;
	}
	
	.iconrow_details {
	font-size: 10px;
	position: relative;
	top: 15px !important;
	left: 385px !important;
}
.details-parking-action-icon {
	top: 4px !important;
	position: inherit;
}


}

/*Green Checkbox styles*/
.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin: 10px 0;
}
.checkbox > .checkbox__checkmark {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  height: 24px;
  pointer-events: none;
}
.checkbox > input[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
}
.checkbox > input[type="checkbox"]:checked {
  background: #FF6882;
}
.checkbox > input[type="checkbox"]:checked + .checkbox__checkmark:before {
  background: #FF6882;
  border: 1px solid #FF6882;
}

.checkbox > input[type="checkbox"]:checked + .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox > .checkbox__checkmark:before {
  content: '';
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 24px;
  height: 24px;
  background: transparent;
  border: 1px solid #5f972a;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
  left: 0;
}
.checkbox > .checkbox__checkmark {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  width: 24px;
  height: 24px;
}
.checkbox > .checkbox__checkmark:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 5px;
  width: 12px;
  height: 6px;
  background: transparent;
  border: 3px solid #fff;
  border-width: 2px;
  border-top: none;
  border-right: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
}
.checkbox > input[type="checkbox"]:focus + .checkbox__checkmark:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.checkbox > input[type="checkbox"]:disabled + .checkbox__checkmark {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.checkbox > input[type="checkbox"]:disabled:active + .checkbox__checkmark:before {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*End green checkboxes*/

.propertyTypeCheckboxes{
	padding: 10px;

}

.readMore {
	padding: 0px 0px 10px 10px !important;
	font-size: 13px;
}

.propertyAddress {
	padding: 10px;
	font-size: 15px;
	margin-top: 13px;
	width: 75%;
}

.agent-email-form{
	margin-top: 15px;
	padding-bottom: 150px;
}

.footer-image{
	position: relative;
	top: 70px;
	left: 130px;
}

.filterOption{
	float:right;
	padding-right: 5px;
}

.activeTab {
  border-bottom: 3px solid #ff8000;
}

