/* styles for Kabira App */
.carousel-main {
  overflow-y: hidden !important;
}

.splash div.page__background {
  background-image: url("../images/new/splash.png");
  background-repeat:no-repeat;
  background-position: center center;
  background-color: black;
}

*{font-family: CinzelDecorative-Regular;}

@media(min-width:240px) {


}

@media ( min-width :320px) {
  .logo_app {
    z-index: 2;
    position: relative;
    bottom: -10px;
    display: block;
    margin: 0 auto;
  }

  .main_label {
    color: white !important;
    text-align: center;
    position: relative;
    bottom: 83px;
    z-index: 2;
    padding: 0 30px 0 30px;
}

.main_label_alt {
    bottom: 103px;

}

.pTag{
  text-align: center !important;
  position: relative;
  bottom: -7px;
  opacity: 0.7;
  font-size: 15px;
  color: #9A9696;
}

.skipTag{
  float: right !important;
  padding: 10px;
  top: 35px;
  position: relative;
  color: white;
}

.skipTag-alt {
    top: 55px;
    position: relative;
    left: 45%

}

.item-label {
    font-size: 18px;
    font-weight: bold;
    left: 0;
    /* line-height: 1; */
    position: relative;
    top: -139px;
    width: 100%;
    opacity: 0.8;
    height: 155px;
    background-color: black;
}

.item-label-alt {
    position: relative;
    top: -164px;

}


}


@media ( min-width :480px) {


}